/* You can add global styles to this file, and also import other style files */
body {
  color: #505050;
  text-align: left;
  background-color: #ebebeb;
}

.table {
  color: #505050;
}

.btn-primary {
  background-color: #ff6a5a;
  color: #ebebeb;
  border-color: #ff6a5a;
}

.badge-primary {
  color: #ebebeb;
  background-color: #ff6a5a;
}

a {
  color: #ff6a5a;
}

.be-left-sidebar .sidebar-elements > li.active > a {
  color: #ff6a5a;
}

.be-left-sidebar .sidebar-elements > li ul li.active > a {
  color: #ff6a5a;
}

.page-item.active .page-link {
  z-index: 3;
  color: #ebebeb;
  background-color: #ff6a5a;
  border-color: #ff6a5a;
}

.be-right-sidebar .tab-navigation .nav-tabs > li.nav-item > a.nav-link.active {
  color: #ff6a5a;
}

.btn-secondary, .btn-light {
  color: #ebebeb;
  background-color: #009ece;
  border-color: #009ece;
}

.be-top-header .be-navbar-header .navbar-brand {
  background-image: url('/assets/logo.svg');
}

valtimo-filter-sidebar .page-aside div:last-child {
  display: none;
}
